.blog-wrapper {
    max-width: 95%;
    margin: 0 auto;
}
.blog-goBack {
    display: block;
    font-size: 2rem;;
    font-weight: 700;
    margin-bottom: 2rem;
}
.blog-goBack span { color: rgb(156, 155, 155);}
.blog-goBack span:hover { font-weight: 500;}

.blog-wrapper header {
    text-align: center;
}
.individualBlogH1 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #caa532;
}
.tradingDate {
    font-size: 1,1rem;
    color:#caa532;
}
.blog-wrapper img {
    width: 100%;
}
.blog-subCategory {
    display: flex;
    justify-content: center;
}
.blog-subCategory >div {
    margin: 1rem;
}
.blog-descriptions {
    color: #a9a9a9;
}
.tradeStats {
    margin: 10px 0 50px;
}
.tradeText {
    padding: 0 1rem;
    margin-top: 0;
    font-size: 1.3rem;
    color: #a9a9a9;
}
.individualTA {
    font-size: 3rem;
    text-align: start;
    text-transform: uppercase;
    color: #caa532;
}
.myWhite {
    color: white;
}
.myh1 {
    margin-top: 50px;
    text-align: start;
}
.myh2 {
    font-size: 3.5rem;
}
.myh4{
    margin: 30px 0 5px;
}
.summary,
.significantLesson {
    margin: 5px 0 30px;
    color: #a9a9a9;
}
.center {
    text-align: center;
}
.myListItem {
    color: #caa532;
    font-size: 1.5rem;
    list-style-type: none;
}
.myYellow { color:#caa532; }

.numOfTrades::before {content: 'Number or trades: '; color: #a9a9a9; }
.totalPoints::before {content: 'Points: '; color: #a9a9a9; }
.totalTicks::before {content: 'Ticks: '; color: #a9a9a9; }
.totalPips::before {content: 'Pips: '; color: #a9a9a9; }
.winners::before {content: 'Win: '; color: #a9a9a9; }
.winners { color: lime;}
.losers::before {content: 'Loss: '; color: #a9a9a9; }
.losers {color: red; }
.breakEven::before {content: 'Break-even: '; color: #a9a9a9; }
.NumOfTarget::before {content: 'Number of target trades: '; color: #a9a9a9; }

/* .trade1::before { content: 'Trade 1: '; color: #caa532;}
.trade2::before { content: 'Trade 2: '; color: #caa532;}
.trade3::before { content: 'Trade 3: '; color: #caa532;}
.trade4::before { content: 'Trade 4: '; color: #caa532;}
.trade5::before { content: 'Trade 5: '; color: #caa532;}
.trade6::before { content: 'Trade 6: '; color: #caa532;}
.trade7::before { content: 'Trade 7: '; color: #caa532;}
.trade8::before { content: 'Trade 8: '; color: #caa532;}
.trade9::before { content: 'Trade 9: '; color: #caa532;} 
.trade10::before { content: 'Trade 9: '; color: #caa532;} 
.trade11::before { content: 'Trade 9: '; color: #caa532;} 
.trade12::before { content: 'Trade 9: '; color: #caa532;} 
.trade13::before { content: 'Trade 9: '; color: #caa532;} 
.trade14::before { content: 'Trade 9: '; color: #caa532;} 
.trade15::before { content: 'Trade 9: '; color: #caa532;} 
.trade16::before { content: 'Trade 9: '; color: #caa532;} 
.trade17::before { content: 'Trade 9: '; color: #caa532;} 
*/

@media (max-width: 600px) {
    .blogList-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .blogItem-wrapper {
        max-height: 570px;
    }
    .individualBlogH1 {
        font-size: 1.5rem;
    }
    .individualTA {
        font-size: 1.5rem;
    }
    .myh1 {
        margin-top: 20px;
        text-align: start;
    }
    .myh2 {
        font-size: 1.9rem;
    }
    .myh4 {
        font-size: 1rem;
    }
    .myh5 {
        font-size: 1.1rem;
    }
    .summary,
    .myListItem,
    .tradeText {
        font-size: 1rem;
    }
    .chip {
        display: none;
    }
    .tradeStats {
        margin-bottom: 20px;
    }
}